*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;   
    color: white;   
}
body{
    background-color: black;
}

.page{
    min-height: 100%;
    /* height: 100%; */
    width: 100%;
    background-color: black;
    max-width: 1728px;
    margin: auto;
    padding: 0 50px;
    overflow: hidden;
}


/* hum page 1 k container ko center main lana chante the iss liye display flex use kia or agar elemtns center krte to nav b center main aa jata so nav ko position absolute kia ye page1 ki padding ko follow ni kr rha tha iss liye width 90% krni pri 


ye kaam actually page banane k bad kia, mediaquery main sub theek tha so media query me 1000px pe dobara page1 ka display: flex hta dia or nav k position static krdi, or nav ki width 100 krdi
*/

#page1{
    text-transform: uppercase;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* display: none; */
}


#nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;

    border-bottom: 2px solid #dadada6f;
    cursor: default;

    position: absolute;
    top: 0;

    /* background-color: #ffffff22; */

}

#nav-left{
    flex: 2;
    /* background-color: blue; */
    font-size: 2rem;
    font-weight: 700;
}


#nav-right{
    flex: 8;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}



#first-right{
    display: flex;
    gap: 20px;
    /* background-color: aqua; */
}
#last-right{
    display: flex;
    align-items: center;
    gap: 20px;
    /* background-color: pink; */
}

#last-right>a:hover{
    transition: .1s;
}
#last-right>a:hover{
    font-weight: 700;

}

#last-right>i{
    border: 2px solid;
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: .5s;
}

#last-right>i:hover{
    background-color: white;
    color: black;
    
}



#nav> #menu-icon{
    display: none;
}

#nav-right> #menu-close{
    display: none;
}
